{{ ansible_managed | comment }}

{% for server in resolv_nameservers %}
nameserver {{ server }}
{% endfor %}
{% if resolv_domain is defined and resolv_domain | length > 0 %}
domain {{ resolv_domain }}
{% endif %}
{% if resolv_search is defined and resolv_search | length > 0 %}
search {{ resolv_search | join(' ') }}
{% endif %}
{% if resolv_sortlist is defined and resolv_sortlist | length > 0 %}
sortlist {{ resolv_sortlist | join(' ') }}
{% endif %}
{% if resolv_options is defined and resolv_options | length > 0 %}
options {{ resolv_options | join(' ') }}
{% endif %}
